# Virtual Environment
venv/
env/

# Environment Variables (Secrets)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Models & Data Files
*.pkl
*.csv
*.log
local_cars_db.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
